section {
    height: 100%;
}
ul{
    margin-top:5px;
    font-size:0;
}

li i {
    cursor: pointer;
    transition:0.2s
}

.step-navigation-bar {
    display: block;
}

.progressbar {
    width:inherit;
}

.progressbar li {
    list-style-type: none;
    float:left;
    font-size:30px;
    width: calc(33.33% - 15px);
    position:relative;
    text-align: center;
    color:rgb(126, 126, 126);
    pointer-events: none;
}

.progressbar li.active {
    list-style-type: none;
    float:left;
    font-size:30px;
    width: calc(33.33% - 15px);
    position:relative;
    text-align: center;
    color:#53bed6;
    pointer-events: all;
}

.progressbar li:before{
    content:"";
    position: absolute;
    border-radius: 5px;
    width: 60%;
    height:5px;
    background-color:grey;
    right:75px;
    top:50%;
}

.progressbar li:first-child:before{
    content:none;
}

.progressbar li.active:first-child:before {
    content:none;
}

.progressbar li.active:before {
    content:"";
    position: absolute;
    border-radius: 5px;
    width: 60%;
    height:5px;
    background-color:#53bed6;
    right:75px;
    top:50%; 
}

.progressbar li.active i:hover{
    color:#2f99b1;
}

.book-content {
    height:100%;
    width:100%;
}

.button-group{     
    position:absolute; 
    bottom:0;
    margin-left:97px;
    margin-bottom: 30px;
}

.button-group .book-nav-button {
    background-color:#F66A47;
    border-radius: 5px;
    color:white;
    margin-right: 6px;
    height:40px;
    width:100px;
    border:0px;
}

.button-group .book-nav-button:hover {
    transition:0.2s;
    background-color:#da5a3a;
}

.button-group .disabled {
    background-color:rgb(189, 189, 189) !important;
}

