<h1>When should we swing by?</h1>
<input
    value={{bookingData.time}}
    class="time-select"
    readonly
    (click)="open()">
<ng-template #modal let-modal class="time-modal">
</ng-template>
<div class="duration-text">
    <p>How long do you need us for?<p>
    <p> The hourly rate is ${{rate}}.</p>
</div>
<div class="duration-wrapper">
    <h4>hours</h4>
    <input
        class="hours-input"
        type="number"
        value={{bookingData.duration_hrs}}
        (input)="onHourChange($event.target.value)">
        <h4>minutes</h4>
    <input 
        class="minutes-input"
        type="number"
        value={{bookingData.duration_mins}}
        (input)="onMinuteChange($event.target.value)">
</div>
<p *ngIf="durationErr"  class="warning">Sorry, we only support delivery times between 1-8 hours</p>
<p *ngIf="hoursErr" class="warning">Enter value between 1-8 for hours</p>
<p *ngIf="minsErr" class="warning">Enter value between 0-59 for minutes</p>
