p {
    text-align: center;
    margin:20px 0px 20px;
}

.time-select {
    width:5em;
    margin-left:calc(200px - 2.5em);
    font-size: x-large;
}

.duration-wrapper {
    margin-left:65px;
}

h4 {
    display: inline;
    margin:0px 10px 0px 10px;
}

.hours-input {
    display: inline;
    font-size: x-large;
    width:1.5em;
}

.minutes-input {
    display: inline;
    font-size: x-large;
    width:1.5em;
}