.time-list {
    padding:0;
    margin:0 20px 0 20px;
}

::ng-deep .time-modal .modal-dialog{
    width:min-content;
}

.time-list li{
    cursor: pointer;
    list-style: none;
    display: inline-block;
    font-size: x-large;
    white-space: nowrap;
}